{% extends 'base.html.twig' %}

{% block body %}

<div class="container my-5">
<h1>Private members area</h1>
<h3>Modify my password</h3>
 
 {{ form(modifyPwd)}} 
 {# the form to modify the password (variable modifyForm from the AccountController) #}

</div>
{% endblock %}
