{% extends 'base.html.twig' %}

{% block hero %}{% endblock %}

{% block body %}

	<!-- Three columns of categories below the hero banner -->
	<div class="row">
			{% for category in allCategories %}
		<div class="col-lg-4">

            <a class="nav-link" href="{{ path ('app_category', {slug : category.slug}) }}">

                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveaspectratio="xMidYMid slice" focusable="false">
				<title>Placeholder</title>
				<rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
                <image xlink:href="/uploads/categories/{{category.illustration}}" width="140" height="140" x="0" y="0"/></svg>
          
            	<h2 class="fw-normal mb-4 macondo-regular">{{category.name}}</h2>
            </a>
			
		</div><!-- /.col-lg-4 -->
			{% endfor %}
		
	</div><!-- /.row -->

{% endblock %}
