{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{form(form)}}

    <br>
	You already have an account? <a href="{{ path('app_login')}} ">Connect here</a>

{% endblock %}