{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{form(registerForm)}}

    <br>
    <div class="mb-4">
	You already have an account? <a href="{{ path('app_login')}}" class="link">Connect here</a>
    </div>

{% endblock %}