{% extends 'base.html.twig' %}
{% block body %}
	<div class="container my-5">
		<h1>My Order</h1>

		Choix adresse de la livraison <br>
		{{form(deliveryForm)}}
		Choix de transporteur

	</div>
{% endblock %}